# Improved Version

In [2]:
import gzip
import csv
from collections import defaultdict
import random
import numpy
import pandas
import scipy
import scipy.optimize
from sklearn.linear_model import LogisticRegression

In [3]:
def readGz(path):
    for l in gzip.open(path, "rt"):
        yield eval(l)

In [4]:
def readCSV(path):
    f = gzip.open(path, "rt")
    f.readline()
    for l in f:
        yield l.strip().split(",")

## Reading Prediction

In [150]:
dataset = list(readCSV("train_Interactions.csv.gz"))

In [151]:
def Jaccard(s1, s2):
    numer = len(s1.intersection(s2))
    denom = len(s1.union(s2))
    return numer / denom

In [152]:
training = dataset[:190000]
validation = dataset[190000:]

In [153]:
# create empty dictionaries of booksPerUser and UsersPerBook
booksPerUser = defaultdict(set)
usersPerBook = defaultdict(set)

# create an empty set of books
booklist = set()

In [154]:
# books and users information in the whole set
for u, b, r in dataset:
    booksPerUser[u].add(b)
    usersPerBook[b].add(u)

    if b not in booklist:
        booklist.add(b)

In [86]:
len(booklist)

7170

In [155]:
# books and users information in training set
booksPerUser_t = defaultdict(set)
usersPerBook_t = defaultdict(set)

# create an empty set of books
booklist_t = set()

for u, b, r in training:
    booksPerUser_t[u].add(b)
    usersPerBook_t[b].add(u)

In [156]:
# append 10000 data (notRead) to validation set
for u, b, r in validation[0:10000]:
    notRead = booklist.difference(booksPerUser[u])
    c = random.sample(notRead, 1)
    line = [u, c[0], '0']
    validation.append(line)

In [157]:
random.shuffle(validation)

In [158]:
new_training = validation[:18000]
new_validation = validation[18000:]

In [159]:
#bookCount_new_train = defaultdict(int)
#new_train_Read = 0

# for user,book,_ in readCSV("train_Interactions.csv.gz"):
#for u, b, r in training:
 #   bookCount[b] += 1
  #  totalRead += 1

#mostPopular = [(bookCount[x], x) for x in bookCount]
#mostPopular.sort()
#mostPopular.reverse()

In [183]:
# similarity in new_training set
new_train_sim = []
for u, b, r in new_training:
    #max_sim = 0
    #mean_sim = 0
    sim_l = []

    # users who have read this book
    users = usersPerBook_t[b]

    # loop through every book in the training set that the user has read
    for b2 in booksPerUser_t[u]:  # for all books in the training set
        if b == b2:
            continue
        sim = Jaccard(users, usersPerBook_t[b2])
        sim_l.append(sim)
        #if sim > max_sim:
            #max_sim = sim
        #mean_sim = mean_sim + sim
    #mean_sim = mean_sim/len(booksPerUser_t[u])
    new_train_sim.append(numpy.mean(sim_l))
    #new_train_sim.append(mean_sim)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [161]:
# get number of people who read each book in new_training
new_train_count = []

for u, b, r in new_training:
    num = len(usersPerBook_t[b])/(0.3*7169)
    new_train_count.append(num)

In [162]:
new_train_score = [values[2] for values in new_training]

new_train_label = []
for i in new_train_score:
    if i == '0':
        new_train_label.append(0)
    else:
        new_train_label.append(1)

In [163]:
df = {"new_train_sim": new_train_sim, "new_train_count": new_train_count, "offset": 1}
table = pandas.DataFrame(df, columns=["new_train_sim", "new_train_count", "offset"])
table

       new_train_sim  new_train_count  offset
0           0.010582         0.076719       1
1           0.006579         0.027898       1
2           0.035714         0.009764       1
3           0.029412         0.026503       1
4           0.013986         0.175757       1
...              ...              ...     ...
17995       0.020080         0.205050       1
17996       0.008264         0.133910       1
17997       0.016129         0.027898       1
17998       0.013514         0.032083       1
17999       0.034483         0.025108       1

[18000 rows x 3 columns]

In [164]:
X_new_train = table.values
y_new_train = new_train_label

In [165]:
model = LogisticRegression(C=10000,class_weight={0:0.46, 1:0.54},solver="lbfgs",max_iter=8000)

In [166]:
model.fit(X_new_train, y_new_train)

LogisticRegression(C=10000, class_weight={0: 0.46, 1: 0.54}, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=8000, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [167]:
# similarity in new_validation set
new_valid_sim = []
for u, b, r in new_validation:
    #max_sim = 0
    #mean_sim = 0
    sim_l = []

    # users who have read this book
    users = usersPerBook_t[b]

    # loop through every book in the training set that the user has read
    for b2 in booksPerUser_t[u]:  # for all books in the training set
        if b == b2:
            continue
        sim = Jaccard(users, usersPerBook_t[b2])
        sim_l.append(sim)
       # mean_sim = mean_sim + sim
    #mean_sim = mean_sim/len(booksPerUser_t[u])
        #if sim > max_sim:
            #max_sim = sim
    new_valid_sim.append(numpy.max(sim_l))
    #new_valid_sim.append(mean_sim)

In [168]:
# get number of people who read each book in new_validation
new_valid_count = []

for u, b, r in new_validation:
    num = len(usersPerBook_t[b])/(0.3*7169)
    new_valid_count.append(num)

In [169]:
new_valid_score = [values[2] for values in new_validation]

new_valid_label = []
for i in new_valid_score:
    if i == '0':
        new_valid_label.append(0)
    else:
        new_valid_label.append(1)

In [170]:
df2 = {"new_valid_sim": new_valid_sim, "new_valid_count": new_valid_count, "offset": 1}
table2 = pandas.DataFrame(df2, columns=["new_valid_sim", "new_valid_count", "offset"])
table2

      new_valid_sim  new_valid_count  offset
0          0.008696         0.046032       1
1          0.021277         0.143674       1
2          0.008621         0.531455       1
3          0.017857         0.122751       1
4          0.000000         0.012554       1
...             ...              ...     ...
1995       0.014706         0.015344       1
1996       0.026316         0.019529       1
1997       0.008850         0.020923       1
1998       0.017241         0.013949       1
1999       0.017544         0.054401       1

[2000 rows x 3 columns]

In [171]:
X_new_valid = table2.values

In [172]:
pred_new_valid = model.predict(X_new_valid)

In [173]:
corrPred_new_valid = pred_new_valid == new_valid_label

In [174]:
sum(corrPred_new_valid) / len(corrPred_new_valid)

0.661

In [175]:
similarity = []
count = []

header = "userID-bookID,prediction" + "\n"

data = open("pairs_Read.txt", "r")
for l in data:
    if l.startswith("userID-bookID,prediction"):
        continue
    else:
        u, b = l.strip().split("-")

    #mean_sim = 0
    #max_sim = 0
    sim_l = []

    # users who have read this book
    users = usersPerBook[b]

    # loop through every book in the training set that the user has read
    for b2 in booksPerUser[u]:  # for all books in the training set
        if b == b2:
            continue
        sim = Jaccard(users, usersPerBook[b2])
        sim_l.append(sim)
        #if sim > max_sim:
                #max_sim = sim
        #mean_sim = mean_sim + sim
    #mean_sim = mean_sim/len(booksPerUser[u])
    #similarity.append(mean_sim)
    similarity.append(numpy.max(sim))
    
    num = len(usersPerBook[b])/(0.3*len(booklist))
    count.append(num)

In [176]:
df3 = {"test_sim": similarity, "test_count": count, "offset": 1}
table3 = pandas.DataFrame(df3, columns=["test_sim", "test_count", "offset"])
table3

       test_sim  test_count  offset
0      0.000000    0.025105       1
1      0.000000    0.016736       1
2      0.000000    0.041841       1
3      0.023256    0.052999       1
4      0.009524    0.114365       1
...         ...         ...     ...
19995  0.006211    0.023710       1
19996  0.000000    0.252441       1
19997  0.000000    0.018131       1
19998  0.000000    0.013947       1
19999  0.000000    0.073919       1

[20000 rows x 3 columns]

In [177]:
X_test = table3.values

In [178]:
pred_test = model.predict(X_test)

In [181]:
sum(pred_test)

4379

In [180]:
count = 0
header = "userID-bookID,prediction" + "\n"

pred = open("predictions_Read_optimize.txt", "w")
pred.write(header)

data = open("pairs_Read.txt", "r")

for l in data:
    if l.startswith("userID-bookID,prediction"):
        continue
    else:
        u, b = l.strip().split("-")
    
    pred.write(u + "-" + b + "," + str(pred_test[count]) + "\n")
    count = count + 1

pred.close()

In [249]:
count

10000

In [14]:
bookCount = defaultdict(int)
totalRead = 0

# for user,book,_ in readCSV("train_Interactions.csv.gz"):
for u, b, r in training:
    bookCount[b] += 1
    totalRead += 1

mostPopular = [(bookCount[x], x) for x in bookCount]
mostPopular.sort()
mostPopular.reverse()

In [16]:
bookCount

defaultdict(int,
            {'b14275065': 105,
             'b82152306': 97,
             'b44882292': 40,
             'b79927466': 19,
             'b05683889': 123,
             'b86375465': 16,
             'b92838791': 37,
             'b35165110': 17,
             'b17128180': 57,
             'b34596567': 21,
             'b23506537': 18,
             'b95176169': 71,
             'b03231083': 16,
             'b20090710': 60,
             'b62660670': 38,
             'b01071719': 44,
             'b99816042': 69,
             'b79202035': 19,
             'b39996061': 59,
             'b15891222': 20,
             'b01287078': 37,
             'b19581977': 19,
             'b80735440': 71,
             'b29820018': 25,
             'b57056376': 29,
             'b50835324': 83,
             'b46969785': 62,
             'b30423629': 43,
             'b63987437': 77,
             'b88993982': 23,
             'b71971959': 9,
             'b11333881': 21,
             'b60187708': 24,
             'b17260068': 29,
             'b50770434': 14,
             'b47885258': 58,
             'b01504274': 33,
             'b17760355': 94,
             'b71574797': 43,
             'b10175358': 20,
             'b71318537': 6,
             'b38778148': 18,
             'b74212009': 14,
             'b10666766': 112,
             'b43129227': 18,
             'b42214119': 8,
             'b33063252': 29,
             'b58131878': 64,
             'b80156297': 84,
             'b25100090': 18,
             'b25452173': 51,
             'b27546230': 8,
             'b91524378': 18,
             'b68873067': 17,
             'b88006460': 18,
             'b42915496': 116,
             'b14552903': 39,
             'b20300754': 120,
             'b55081462': 16,
             'b94042361': 86,
             'b77155755': 122,
             'b10319906': 15,
             'b19091559': 38,
             'b22880214': 37,
             'b70083891': 18,
             'b85954851': 3,
             'b92157037': 18,
             'b93124131': 43,
             'b95279471': 38,
             'b47464461': 34,
             'b43149606': 15,
             'b28154053': 17,
             'b28550617': 51,
             'b04661220': 91,
             'b55889026': 19,
             'b17122812': 65,
             'b08227722': 47,
             'b69749211': 20,
             'b56910255': 105,
             'b27622094': 24,
             'b47477122': 19,
             'b75743714': 235,
             'b26270467': 38,
             'b64921805': 50,
             'b25315342': 110,
             'b88970616': 54,
             'b44982695': 47,
             'b82780571': 10,
             'b40173194': 21,
             'b52194326': 26,
             'b91980264': 12,
             'b51790771': 12,
             'b10172529': 78,
             'b46014294': 25,
             'b51073943': 10,
             'b86426703': 23,
             'b95628411': 9,
             'b36976235': 36,
             'b14149814': 56,
             'b57681026': 22,
             'b22676461': 16,
             'b88695243': 20,
             'b27731606': 43,
             'b75607242': 35,
             'b02418017': 114,
             'b71305860': 85,
             'b10173543': 57,
             'b23237814': 34,
             'b99832878': 22,
             'b00606893': 24,
             'b27700263': 81,
             'b86619084': 35,
             'b67439587': 21,
             'b81070267': 24,
             'b69443523': 15,
             'b89098732': 36,
             'b09661260': 86,
             'b92932322': 179,
             'b21200120': 13,
             'b79429506': 46,
             'b84782791': 19,
             'b76473180': 22,
             'b70306440': 27,
             'b43842691': 25,
             'b35397089': 36,
             'b89076881': 170,
             'b36555865': 117,
             'b48019598': 65,
             'b06025800': 37,
             'b08652512': 81,
             'b90315939': 22,
             'b78835959': 22,
             'b15454351': 54,
             'b41543302': 55,
             'b34725925': 11,
             'b64688075': 68,
             'b46263957': 124,
             'b16100540': 81,
             'b59884823': 34,
             'b39837576': 28,
             'b87382667': 147,
             'b66366823': 35,
             'b27122216': 31,
             'b64181696': 25,
             'b35632771': 7,
             'b24243756': 30,
             'b19020502': 39,
             'b30264783': 52,
             'b23596354': 11,
             'b58698057': 54,
             'b58948265': 58,
             'b51296803': 10,
             'b35493068': 17,
             'b16195759': 13,
             'b84887121': 58,
             'b88842628': 37,
             'b60938041': 146,
             'b15080142': 62,
             'b81636557': 122,
             'b64830896': 43,
             'b61361377': 28,
             'b23680942': 49,
             'b26747873': 54,
             'b25986432': 70,
             'b28160074': 13,
             'b85176745': 9,
             'b14697572': 30,
             'b77603455': 67,
             'b14188183': 32,
             'b88667874': 33,
             'b81623133': 154,
             'b70802671': 19,
             'b74642837': 45,
             'b28740158': 62,
             'b40976939': 82,
             'b97008790': 13,
             'b48517857': 37,
             'b28102842': 53,
             'b96462126': 122,
             'b46512077': 14,
             'b58164574': 15,
             'b40623870': 116,
             'b63619427': 21,
             'b84873981': 15,
             'b55986343': 38,
             'b53077082': 72,
             'b27914838': 21,
             'b96347205': 208,
             'b50309861': 11,
             'b18160494': 74,
             'b41518337': 22,
             'b50940699': 161,
             'b08628469': 7,
             'b84615430': 59,
             'b81528778': 125,
             'b00103111': 114,
             'b64348143': 18,
             'b01033670': 102,
             'b97993523': 56,
             'b05391671': 37,
             'b96031428': 20,
             'b14800581': 75,
             'b59846199': 130,
             'b52453648': 267,
             'b87581088': 130,
             'b61441202': 45,
             'b89866434': 40,
             'b12000826': 63,
             'b17319783': 48,
             'b43152086': 86,
             'b99906609': 19,
             'b25171734': 15,
             'b03341033': 31,
             'b87951237': 34,
             'b07081673': 37,
             'b09152677': 18,
             'b52279971': 15,
             'b98013579': 14,
             'b48559026': 68,
             'b69277798': 31,
             'b52923795': 6,
             'b20151614': 42,
             'b76800235': 31,
             'b76599994': 12,
             'b07718051': 26,
             'b28542052': 199,
             'b78903892': 72,
             'b06888400': 16,
             'b87336894': 45,
             'b66469709': 24,
             'b44452952': 15,
             'b66079016': 29,
             'b60684530': 121,
             'b72586596': 65,
             'b34825339': 40,
             'b44730641': 19,
             'b55624212': 8,
             'b29070932': 46,
             'b74237299': 22,
             'b68461450': 73,
             'b24178664': 165,
             'b77347938': 46,
             'b06594014': 24,
             'b37224716': 47,
             'b03707716': 43,
             'b88863398': 24,
             'b38306852': 12,
             'b03874442': 26,
             'b33422589': 17,
             'b86183841': 65,
             'b21104598': 17,
             'b81654019': 62,
             'b42728161': 7,
             'b66684861': 15,
             'b82911924': 10,
             'b42462590': 75,
             'b84259281': 33,
             'b55459749': 48,
             'b16648006': 135,
             'b06767807': 90,
             'b70415598': 14,
             'b49240439': 43,
             'b66032163': 20,
             'b54751500': 14,
             'b12008870': 57,
             'b65598826': 9,
             'b13324922': 68,
             'b19970008': 131,
             'b84548528': 30,
             'b77464910': 18,
             'b36888197': 9,
             'b76386109': 23,
             'b76915592': 319,
             'b22672799': 29,
             'b72284483': 71,
             'b05993471': 15,
             'b13498456': 57,
             'b91322899': 37,
             'b60787227': 24,
             'b73845657': 106,
             'b05810373': 161,
             'b62476901': 25,
             'b40435141': 23,
             'b76480556': 11,
             'b07290994': 81,
             'b79738710': 43,
             'b10332976': 26,
             'b64559896': 18,
             'b79231966': 31,
             'b22289898': 56,
             'b15931140': 23,
             'b81444815': 49,
             'b73448463': 79,
             'b92527792': 16,
             'b32417715': 19,
             'b57792451': 47,
             'b97884773': 160,
             'b25813624': 29,
             'b52198013': 34,
             'b22691947': 58,
             'b49930080': 34,
             'b30520992': 22,
             'b43458346': 19,
             'b96213089': 97,
             'b38886665': 56,
             'b55690744': 32,
             'b29014972': 14,
             'b81635098': 20,
             'b92883933': 11,
             'b63147625': 27,
             'b61016316': 18,
             'b41086571': 22,
             'b23680977': 42,
             'b17976411': 8,
             'b31561073': 21,
             'b39969042': 144,
             'b22941357': 42,
             'b79191047': 54,
             'b91781507': 11,
             'b10084065': 10,
             'b39176152': 79,
             'b02293155': 88,
             'b49939596': 73,
             'b94285656': 65,
             'b64020457': 28,
             'b14913608': 196,
             'b80820222': 176,
             'b07250386': 32,
             'b69283545': 70,
             'b81033425': 62,
             'b20401770': 82,
             'b78227405': 61,
             'b78198728': 27,
             'b11703587': 95,
             'b49043479': 53,
             'b07953880': 19,
             'b80895157': 14,
             'b83368051': 16,
             'b21195233': 29,
             'b17405805': 52,
             'b95143823': 120,
             'b95416196': 13,
             'b78464800': 65,
             'b76246429': 8,
             'b05351352': 172,
             'b60635361': 12,
             'b68963458': 51,
             'b33785620': 95,
             'b92695348': 83,
             'b41604243': 26,
             'b37190677': 70,
             'b41769070': 35,
             'b30292763': 71,
             'b73760492': 15,
             'b37828212': 18,
             'b41426361': 73,
             'b75871574': 23,
             'b47166041': 13,
             'b97767257': 34,
             'b93167510': 156,
             'b31561358': 36,
             'b41731821': 24,
             'b70624396': 123,
             'b41098982': 12,
             'b30737799': 206,
             'b22923888': 25,
             'b35131310': 21,
             'b12033613': 39,
             'b22593148': 187,
             'b65111447': 12,
             'b12221963': 45,
             'b88571835': 104,
             'b09056879': 17,
             'b51796319': 10,
             'b71441500': 13,
             'b13528995': 29,
             'b45005864': 49,
             'b11170855': 11,
             'b07559750': 93,
             'b09505167': 12,
             'b46346824': 24,
             'b49625077': 39,
             'b09925221': 34,
             'b16566725': 26,
             'b24266703': 88,
             'b49599242': 11,
             'b30592470': 73,
             'b31502348': 26,
             'b95798436': 26,
             'b19764662': 14,
             'b65331041': 70,
             'b05010512': 21,
             'b66725594': 47,
             'b14697389': 49,
             'b78539874': 50,
             'b60138545': 15,
             'b34776959': 49,
             'b73791252': 29,
             'b35108940': 28,
             'b59273300': 213,
             'b86529323': 12,
             'b43971477': 55,
             'b85708856': 25,
             'b56324433': 18,
             'b56418056': 25,
             'b85300101': 13,
             'b92806597': 19,
             'b73474746': 38,
             'b14927464': 14,
             'b39055297': 42,
             'b25219165': 30,
             'b39273891': 37,
             'b11544830': 225,
             'b29313782': 8,
             'b50728685': 17,
             'b01513919': 36,
             'b04313718': 91,
             'b60791607': 21,
             'b35456412': 43,
             'b29373595': 21,
             'b36862107': 22,
             'b23375156': 5,
             'b45266993': 40,
             'b17957995': 10,
             'b11390237': 34,
             'b42523126': 23,
             'b21850052': 87,
             'b79206429': 18,
             'b27084301': 36,
             'b70448274': 37,
             'b43649584': 63,
             'b37863301': 145,
             'b05533804': 48,
             'b99298078': 34,
             'b85939125': 21,
             'b47283271': 23,
             'b64321012': 79,
             'b71133526': 36,
             'b43738702': 117,
             'b00740066': 43,
             'b92983199': 48,
             'b36620277': 48,
             'b83731487': 13,
             'b38392740': 77,
             'b22036626': 98,
             'b32419848': 96,
             'b82837697': 20,
             'b22649987': 47,
             'b85046261': 10,
             'b66316637': 35,
             'b23775172': 34,
             'b08671196': 72,
             'b51811559': 15,
             'b51447784': 10,
             'b21554035': 15,
             'b04379674': 14,
             'b05603728': 68,
             'b27913550': 25,
             'b63723921': 124,
             'b20236167': 28,
             'b19843170': 66,
             'b39244888': 249,
             'b41968719': 29,
             'b39200579': 84,
             'b16631880': 22,
             'b11958407': 37,
             'b14170501': 54,
             'b72183164': 5,
             'b36485019': 18,
             'b89742385': 70,
             'b36786999': 8,
             'b69196391': 138,
             'b64677864': 55,
             'b59059187': 43,
             'b25118404': 248,
             'b08814466': 60,
             'b46526851': 13,
             'b08501908': 86,
             'b65215903': 25,
             'b41930579': 22,
             'b17106869': 152,
             'b95188078': 47,
             'b36476564': 12,
             'b96354555': 22,
             'b68545784': 16,
             'b78408038': 25,
             'b23769010': 24,
             'b74391258': 53,
             'b84576865': 10,
             'b86752577': 16,
             'b19239898': 18,
             'b87627111': 19,
             'b65149363': 181,
             'b22101827': 133,
             'b50525008': 15,
             'b05009851': 15,
             'b38585649': 10,
             'b30214899': 40,
             'b08515491': 17,
             'b22565592': 17,
             'b31434922': 44,
             'b29490017': 42,
             'b96387199': 12,
             'b64253860': 18,
             'b39376417': 118,
             'b18831261': 24,
             'b43160948': 16,
             'b17040776': 22,
             'b59835386': 13,
             'b98870833': 20,
             'b71549069': 31,
             'b75288422': 23,
             'b68268306': 13,
             'b71097312': 28,
             'b92512782': 13,
             'b16079409': 26,
             'b55816212': 142,
             'b66588752': 33,
             'b79996969': 8,
             'b75160692': 27,
             'b65815075': 22,
             'b19189006': 45,
             'b22664016': 21,
             'b66940196': 19,
             'b27559159': 26,
             'b88717601': 25,
             'b78670611': 20,
             'b22791454': 33,
             'b35783378': 132,
             'b70747161': 142,
             'b67334919': 32,
             'b77426194': 33,
             'b21548412': 30,
             'b09236808': 71,
             'b84023600': 37,
             'b73822455': 18,
             'b81702319': 11,
             'b25543219': 381,
             'b00235295': 48,
             'b85757949': 65,
             'b05303835': 66,
             'b85950893': 27,
             'b60954363': 34,
             'b78306158': 49,
             'b11254038': 30,
             'b02231456': 134,
             'b60943741': 68,
             'b37056814': 10,
             'b58296614': 39,
             'b67283681': 39,
             'b76060521': 46,
             'b66477889': 44,
             'b27061473': 12,
             'b30426692': 127,
             'b53235565': 96,
             'b88965601': 8,
             'b31514584': 122,
             'b30655078': 29,
             'b17049140': 21,
             'b89195951': 108,
             'b25817509': 28,
             'b46918480': 19,
             'b46983807': 97,
             'b57056874': 42,
             'b89333227': 67,
             'b58516196': 110,
             'b92451588': 104,
             'b23597388': 54,
             'b56597810': 35,
             'b43510428': 17,
             'b37055763': 108,
             'b88634289': 29,
             'b08608301': 19,
             'b85214369': 55,
             'b14721894': 106,
             'b06047451': 27,
             'b29797507': 14,
             'b63875381': 47,
             'b88876996': 30,
             'b51889403': 34,
             'b31937689': 11,
             'b52321012': 45,
             'b63882623': 68,
             'b47133375': 136,
             'b11226006': 102,
             'b33428436': 140,
             'b97773539': 52,
             'b08795629': 22,
             'b00886166': 20,
             'b33301740': 13,
             'b30117694': 30,
             'b10036624': 173,
             'b28731115': 133,
             'b41868953': 54,
             'b13612152': 9,
             'b50640872': 182,
             'b89429955': 26,
             'b89640061': 115,
             'b87493753': 9,
             'b42092075': 13,
             'b26348866': 23,
             'b04921390': 45,
             'b28397844': 43,
             'b27780261': 19,
             'b43143010': 25,
             'b52100434': 16,
             'b74508490': 17,
             'b40730030': 112,
             'b21882963': 102,
             'b61538760': 17,
             'b03228645': 44,
             'b44690172': 17,
             'b13149129': 15,
             'b11161807': 24,
             'b45350111': 46,
             'b37950826': 50,
             'b87299920': 59,
             'b68159938': 6,
             'b14988027': 27,
             'b65923792': 77,
             'b14462720': 66,
             'b02947619': 20,
             'b27050858': 21,
             'b67441707': 31,
             'b63745597': 75,
             'b38735126': 44,
             'b39770061': 33,
             'b04975843': 8,
             'b99739788': 32,
             'b34595380': 24,
             'b65584610': 164,
             'b40581699': 9,
             'b41517297': 44,
             'b97803945': 25,
             'b77436566': 17,
             'b42725004': 73,
             'b01227958': 47,
             'b02664495': 68,
             'b47715156': 22,
             'b34650145': 13,
             'b18595570': 17,
             'b43542514': 7,
             'b36440778': 82,
             'b07210857': 28,
             'b52148523': 14,
             'b09543637': 52,
             'b92041009': 22,
             'b26845870': 103,
             'b25704142': 165,
             'b85719906': 25,
             'b43416662': 11,
             'b94014086': 57,
             'b47389071': 28,
             'b14534905': 66,
             'b10424403': 32,
             'b90263232': 68,
             'b57299824': 61,
             'b61970346': 73,
             'b37947672': 10,
             'b82668341': 23,
             'b42394786': 15,
             'b78716872': 126,
             'b92012091': 27,
             'b71166870': 6,

In [ ]:
random.shuffle(validation)

## Rating Prediction

In [5]:
dataset = list(readCSV("train_Interactions.csv.gz"))

In [6]:
usersPerBook = defaultdict(dict)
booksPerUser = defaultdict(dict)
for u,b,r in dataset:
    usersPerBook[b][u] = r
    booksPerUser[u][b] = r

In [7]:
# get alpha, beta_u and beta_i when lambda is 3
beta_u_best = {}
beta_b_best = {}

for user_id, book_id, rating in dataset:
    beta_u_best[user_id] = 0
    beta_b_best[book_id] = 0
    
for i in range(1, 100):
    
    # loop through the training set to calculate alpha
    sum_a = 0
    for user_id, book_id, rating in dataset:
        sum_a = sum_a + float(rating) - float(beta_u_best[user_id]) - float(beta_b_best[book_id])
    alpha_best = sum_a/len(dataset)
    
        # loop through the user list
    for u in booksPerUser:
        # loop though book that this user has rated in usersPerBook_t and calculate beta_u
        sum_u = 0
        for b in booksPerUser[u]:
            sum_u = sum_u + float(booksPerUser[u][b]) - alpha_best - float(beta_b_best[b])
        beta_u = sum_u/(2+len(booksPerUser[u]))
        beta_u_best[u] = beta_u
    
    # loop through the book list
    for b in usersPerBook:
        # loop though every user that has rated this book in booksPerUser_t and calculate beta_b
        sum_b = 0
        for u in usersPerBook[b]:
            sum_b = sum_b + float(usersPerBook[b][u]) - alpha_best - float(beta_u_best[u])
        beta_b = sum_b/(18+len(usersPerBook[b]))
        beta_b_best[b] = beta_b

In [8]:
users = list()
books = list()
ratings = list()
count = 0

# get user_id and book_id from file
data = open("pairs_Rating.txt", "r")
for l in data:
    if l.startswith("userID-bookID,prediction"):
        continue
    # get user_id and book_id
    else:
        user_id, book_id = l.strip().split("-")
        count = count + 1
    
    # predict rating
    if user_id in beta_u_best:
        if book_id in beta_b_best:
            pred = alpha_best + float(beta_u_best[user_id]) + float(beta_b_best[book_id])
        else:
            pred = alpha_best + float(beta_u_new[user_id])
    else:
        if book_id in beta_b_best:
            pred = alpha_best + float(beta_u_best[user_id])
        else:
            pred = alpha_best
    
    users.append(user_id)
    books.append(book_id)
    ratings.append(pred)
    
# use our model to do prediction
predictions9 = open("predictions_Rating.txt", "w")
header = "userID-bookID,prediction" + "\n"
predictions9.write(header)

for i in range(0, count):
    predictions9.write(users[i] + "-" + books[i] + "," + str(ratings[i]) + "\n")

predictions9.close()